VMApp.xcodeproj/project.xcworkspace/contents.xcworkspacedata
VMApp.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
VMApp.xcodeproj/project.xcworkspace/xcuserdata/victor.xcuserdatad/UserInterfaceState.xcuserstate
VMApp.xcodeproj/xcuserdata/victor.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
VMApp.xcodeproj/xcuserdata/victor.xcuserdatad/xcschemes/xcschememanagement.plist
